<% if flash[:notice] %>
 <div class="flash">
 	<%= flash[:notice] %>
 </div>
<% end %>

<section class="book-box">
	<p class="book-box-heading">
		<strong>Title:</strong> <%= @book.title %>
	</p>
	<p class="book-box-content">
		<strong>Body:</strong> <%= @book.body %>
	</p>
</section>

<%= link_to "Edit", edit_book_path(@book) %>
<span>|</span>
<%= link_to "Back", books_path %>